<div class="container">
    <h1>Contacto</h1>

    <div id="texto" #textos>
        <p> Estas en la pagina de contacto, puedes enviarnos tus dudas!</p>
    </div>


    <!-- Tamaño del slider:
     ##cambiando el tamaño del widthSlider 
    <input type="number" [(ngModel)]="widthSlider" />
    <button (click)="cargarSlider()">Cargar slider</button>
    <button (click)="resetSlider()">Reset slider</button>

    <div *ngIf="anchuraToSlider">
         ##añadiendo el componente hijo 
        <slider
            [anchura]="anchuraToSlider"
            (getAuthor)="getAutor($event)"
        ></slider>
        {{ autor.nombre + " " + autor.web + " " + autor.email }}
    </div> -->
</div>