<div class="container" *ngIf="project">

    <div class="image" *ngIf="project.img">
        <img src="{{url+'get-image/'+project.img}}" alt="Imagen de Proyecto" *ngIf="project.img">
    </div>
    <div class="data">
        <h1>{{project.name}}</h1>
        <h3>{{project.description}}</h3>
        <p>{{project.langs}}</p>
        <p>{{project.year}}</p>
        <div class="botones">
            <p *ngIf="confirm == false">
                <a [routerLink]="['/editar-proyecto', project._id]" class="button-edit">Editar</a>
                <a (click)="setConfirm(true)" class="button-delete">Borrar</a>
            </p>
            <br>
            <p *ngIf="confirm == true">
                <span class="confirm">¿Estas seguro de eliminar este proyecto?</span><br>
                <a (click)="setConfirm(false)" class="button-edit">No, Cancelar</a>
                <a (click)="deleteProject(project._id)" class="button-delete">Si, Eliminar</a>
            </p>
        </div>
    </div>
</div>